In [ ]:
# Q1. Write a program to calculate the electricity bill
# using only if statement? (accept number of unit from user)
# according to the following criteria:

# Unit Price
# First 100 units no charge
# Next 100 units Rs 5 per unit
# After 200 units Rs 10 per unit
# (For example, if input unit is 350 than total bill amount is Rs2000). Lets explain...
# For first 100 no charges
# Now you have 250 unit remaining
# 100-200 you need to pay – 100*5 = 500
# Now 200-100 you need to pay 150*10 = 1500
# Total = 500+1500 = 2000

In [85]:
unit_used = int(input("Enter the total unit used : "))

if unit_used <=100:
    print("no charge")
elif (unit_used >100 and unit_used <=200) :
    print((unit_used-100)*5 , "is your total charge")
else :
    print((100*5)+(unit_used-200)*10 , "is your total charge")

Enter the total unit used :  190

450 is your total charge

In [101]:
"""Q2. Write a program to accept percentage from the user and display
the grade according to the following criteria:

 Marks Grade
> 90 A
> 80 and <= 90 B
>= 60 and <= 80 C
below 60 D """

'Q2. Write a program to accept percentage from the user and display\nthe grade according to the following criteria:\n\n Marks Grade\n> 90 A\n> 80 and <= 90 B\n>= 60 and <= 80 C\nbelow 60 D '

In [99]:
Marks_obtained =int(input("Enter the marks :"))
if Marks_obtained >90 :
    print("Grade A")
elif Marks_obtained > 80 and Marks_obtained<= 90 :
    print("Grade B")
elif Marks_obtained >= 60 and Marks_obtained <= 80 :
    print("Grade c")
else:
    print("Grade D")

Enter the marks : 91

Grade A

In [144]:
#Q3. Accept the age of 4 people and display the youngest one?

age1 = int(input("enter your age of 1st:"))
age2 = int(input("enter your age of 2nd:"))
age3 = int(input("enter your age of 3rd:"))
age4 = int(input("enter your age of 4th:"))

if age1 <= age2 and age1 <= age3 and age1 <= age4:
            print("1st person is younger")
elif age2 <=age1 and age2 <=age3 and age2 <=age4:
            print("2nd person is younger")
elif age3 <= age1 and age3 <= age2 and age3 <= age4:
            print("3rd person is younger")
else:
    print("4th person is younger")

enter your age of 1st: 11
enter your age of 2nd: 12
enter your age of 3rd: 14
enter your age of 4th: 5

4th person is younger

In [ ]:
""" Q4.A company decided to give bonus to employee
according to following criteria:

Time period of Service Bonus

More than 10 years 10%

>=6 and <=10 8%

Less than 6 years 5%

Ask user for their salary and years of service and print the
net bonus amount?"""

In [160]:
Salary = int(input("Enter your salary : "))
Year_of_experiance =int(input("Enter year of service : "))
if Year_of_experiance > 10 :
    print(("Your bonus ="),(10/100)*Salary)
elif Year_of_experiance >= 6 and Year_of_experiance <=10 :
    print(("Your bonus ="),(8/100)*Salary)
else :
    print(("Your bonus ="),(5/100)*Salary)

Enter your salary :  1000
Enter year of service :  5

Your bonus = 50.0

In [ ]:
"""Q5. Accept three numbers from the user and
display the second largest number?"""

In [162]:
number_1 = int(input("Enter 1st no :"))
number_2 = int(input("Enter 2nd no :"))
number_3 = int(input("Enter 3rd no :"))

if (number_1 > number_2 and number_1 < number_3) or (number_1 > number_3 and number_1 < number_2):
    print("number_1 is second largest number")
elif (number_2 > number_1 and number_2 < number_3) or (number_2 > number_3 and number_2 < number_1):
    print("number_2 is second largest number")
else:
    print("number_3 is second largest number")

Enter 1st no : 23
Enter 2nd no : 24
Enter 3rd no : 25

number_2 is second largest number

In [ ]:
"""Q6. Accept the marked price from the user and calculate
the Net amount as (Marked Price – Discount) to pay
according to following criteria:

Marked Price Discount
>10000 20%
>7000 and <=10000 15%
<=7000 10%"""

In [172]:
MRP = int(input("Enter the MRP : "))
if MRP > 10000 :
    discount = (20/100)*MRP
    print(("Net amount ="), MRP-discount)
elif MRP > 7000 and MRP <=10000 :
    discount = (15/100)*MRP
    print(("Net amount ="), MRP-discount)
else:
    print(("Net amount ="), MRP-((10/100)*MRP))

Enter the MRP :  7000

Net amount = 6300.0

In [ ]:
"""Q7. Accept the marks of English, Math and Science,
Social Studies Subject and display the stream allotted
according to following:

All Subjects more than 80 marks — Science Stream

English >80 and Math, Science above 50 — Commerce Stream

English > 80 and social studies > 80 — Humanities"""

In [19]:
English = int(input("Marks In English : "))
Math_Science = int(input("Marks In Math_Science : "))
Social_Studies = int(input("Marks In Social Studies : "))

if English>=80 and Math_Science >=80 and Social_Studies >=80 :
    print ("science stream attoted")
elif English >= 80 and Math_Science >=50 and Social_Studies <80:

    print("commerce Stream alloted")
else:
    print("Humanities Stream alloted")

Marks In English :  87
Marks In Math_Science :  78
Marks In Social Studies :  80

Humanities Stream alloted

In [ ]:
"""Q8. Write a program to display "Hello" if a number entered
by user is a multiple of five, otherwise print "Bye"?"""

In [31]:
Number = int(input("Enter a number : "))

if Number%5 ==0 :
    print("Hellow")
else:
    print("Bye")

Enter a number :  6

Bye

In [ ]:
"""Q9. Write a program to check whether the last digit of a number
(entered by user) is divisible by 3 or not?"""

In [47]:
Number = input("Enter a number : ")
last_digit =int(Number[-1])

if last_digit % 3 ==0 :
    print("number is divisible by 3")
else:
    print("number is not divisible by 3")

Enter a number :  98

number is not divisible by 3

In [ ]:
"""Q10. Write a program to check whether a number entered
is three-digit number or not?"""

In [57]:
number = int(input("Enter a number: "))

if 100 <= abs(number) <= 999:
    print(f"{number} is a three-digit number.")
else:
    print(f"{number} is NOT a three-digit number.")

Enter a number:  779

779 is a three-digit number.